body {
  background: rgba(226, 226, 226, 1);
  -moz-linear-gradient: (top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 27%, rgba(254, 254, 254, 1) 100%);
  -webkit-gradient: (left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(27%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
  -webkit-linear-gradient: (top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 27%, rgba(254, 254, 254, 1) 100%);
  -o-linear-gradient: (top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 27%, rgba(254, 254, 254, 1) 100%);
  -ms-linear-gradient: (top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 27%, (254, 254, 254, 1) 100%);
  background:  linear-gradient: (to bottom, (226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 27%, rgba(254, 254, 254, 1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#e2e2e2", endColorstr="#fefefe", GradientType=0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

header {
  margin-top: 1%;
  font-family: "Anton" "Times new Roman" serif;
}

.selfie {
  display: block;
  width: 200px;
  height: 200px;
  margin: 3% auto;

  background-image: url("asests/img/photo.jpg");
  background-size: cover;
  border-radius: 50%;
}

h1 {
  font-size: 1.7em;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Josefin Sans" "Times new roman" serif;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.summary,
.experience,
.education,
.skills {
  width: 40%;
  margin-bottom: 5%;

  text-align: center;

  background: rgb(207, 207, 207);
  border: 1px solid silver;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
}

.education > ul,
.skills > ul {
  padding: 0;

  list-style: none;
}

progress {
  width: 80%;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 0;

  list-style: none;
}

a > img {
  height: 50px;
}

footer {
  margin-bottom: 10px;
}

.copy {
  text-align: center;
}
